@import '../../Utilities/variables.scss';


.col{
    padding: 0;
}

.card{
    height: 275px;
    padding: 60px 0;
    border: none;
    border-radius: 0;
    color: $white;
    opacity: .8;
    transition: all .4s ease-out;
    text-align: center;
    border: 1px solid $white;
    &:hover{
        opacity: 1;
        transform: scale(1.03);
        z-index: 2;
    }
}

.card-title{
    font-family: Bebas Neue, sans-serif;
    font-size: 2rem;
}

.text-muted{
    color: #adadad !important;
}

.gradient-1{
    background: linear-gradient(45deg, $primary-color, $tertiary-color);

}

.gradient-2{
    background: linear-gradient(90deg, $primary-color, $tertiary-color);
}

.gradient-3{
    background: linear-gradient(135deg, $primary-color, $secondary-color);
}

.card-link{
    color: $white;
    border: $white solid 2px;
    border-radius: 0.25rem;
    padding: 0.5rem 2rem;
    background: linear-gradient(to right, $white 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
    &:hover {
        background-position: left bottom;
        color: $primary-color;
    }
}



